.hero {
  margin-top: 120px;
  margin-inline: auto;
  display: grid;
  justify-content: center;

  @media (min-width:992px) {
    margin-inline: 120px;
    justify-content: left;
  }
}

.hero-text {
    color: #fff;
    font-size: 50px;
    font-weight: 500;
    line-height: 12px ;

    @media (min-width:1044px) {
        font-size: 110px;
        line-height: 13px ;
    }

    @media (min-width:992px) {
        font-size: 100px;
        line-height: 16px ;
    }

    @media (min-width:768px) {
    font-size: 70px;
    }
}

.hero-explore {
    display: flex;
    align-items: center;
    gap: 50px;
    width: fit-content;
    margin-top: 70px;
    padding: 5px 8px;
    padding-left: 30px;
    border-radius: 60px;
    background: white;
    cursor: pointer;
}

.hero-explore p {
    color: #292929;
    font-size: 20px;
    font-weight: 500;
}

.hero-dot-play {
    margin-top: 120px;
    display: flex;
    gap: 24px;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width:768px) {
        flex-direction: row;
        gap: 0;
    }
}

.hero-dots {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.hero-dot {
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 7.5px;
    cursor: pointer;
}

.hero-dot.orange {
    background: orangered;
}

.hero-play {
    display: flex;
    align-items: center;
    gap: 30px;
    cursor: pointer;
}

.hero-play p {
    color: #fff;
    font-size: 19px;
}